
    <angular-editor maxlength="10000" [placeholder]="'Enter text here...'" [(ngModel)]="allergies" [config]="editorConfig"></angular-editor>
    <small class="d-block text-end">
        {{allergies?.length ?? 0}}/10000
    </small>
    <div class="my-2">
        <button *ngIf="isTodayAppointment" appHasRole [roles]="[roles.admin, roles.nurse, doctor]" [operator]="'or'" class="btn btn-info" [disabled]="isLoading" (click)="update()" >
            Update
            <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
        </button>
    </div>
