
<section *ngIf="hasContract">

  <span *ngIf="hasApproved">

    <span *ngIf="expired">
      <span class="text-danger me-2">User contract has expired</span>
      <span
        (click)="confirmAddContract()"
        *ngIf="!companyId"
        class="badge rounded-pill bg-primary pointer ms-2 shadow">Add Contract
      </span>
    </span>

    <span *ngIf="!expired">
      <span class="me-2">{{ startDate?.toDate() | date: 'MMM d, y'}} - {{ endDate?.toDate() | date: 'MMM d, y' }}</span>

      <ng-template #hasContractToolTip>
          <span *ngIf="iconCss == 'text-warning'"> This contract will soon expire {{daysRemaining}} day(s) remaining </span>
          <span *ngIf="iconCss == 'text-success'"> {{daysRemaining}} day(s) remaining </span>
      </ng-template>

      <fa-icon [ngbTooltip]="hasContractToolTip" [icon]="iconStat" class="pe-1" [ngClass]="iconCss"></fa-icon>
      <span *ngIf="iconCss == 'text-warning' || iconCss == 'text-danger'">
        <span
        (click)="confirmAddContract()"
        *ngIf="!companyId"
        class="badge rounded-pill bg-primary pointer ms-2 shadow">Add Contract
        </span>
        <small *ngIf="companyId">Add contract from company</small>
      </span>
    </span>

  </span>

  <span *ngIf="!hasApproved">
    <span class="text-danger me-2">User contract requires approval from finance</span>
  </span>
    <fa-icon (click)="changeCompanyModal()" [icon]="fonts.faArrowRightArrowLeft" class="ps-2 text-primary pointer"></fa-icon>

</section>

<section *ngIf="!hasContract">
  <span class="text-danger me-2">User contract unavaliable</span>

  <ng-template #notHasContractToolTip>
      <span>No contract has been created</span>
  </ng-template>

  <fa-icon [ngbTooltip]="notHasContractToolTip" [icon]="fonts.faTimesCircle" class="pe-1 text-danger"></fa-icon>

  <span
    (click)="confirmAddContract()"
    *ngIf="!companyId"
    class="badge rounded-pill bg-primary pointer ms-2 shadow">Add Contract
  </span>
  <small *ngIf="companyId">Add contract from company</small>
  <span appHasRole [roles]="[roles.admin, roles.reception, roles.hr]">
    <fa-icon (click)="changeCompanyModal()" [icon]="fonts.faArrowRightArrowLeft" class="ps-3 text-primary pointer"></fa-icon>
  </span>
</section>
<span *ngIf="companyId">
  <a [routerLink]="['/' + routes.privateRoute.single_company(companyId).$absolutePath]" >{{ companyName }}</a>
</span>

