

<section *ngIf="isLoading" class="text-center">
  <app-shared-loading [size]="'xl'" ></app-shared-loading>
</section>

<section class="mt-1" *ngIf="!isLoading">

  <div class="d-flex justify-content-between mb-5">
    <div class="d-flex justify-content-start mb-4 position-relative">
        <span class="p-3 bg-primary shadow position-absolute">
            <fa-icon [icon]="fonts.faChartLine" class="pe-1 text-light"></fa-icon>
        </span>
        <div class="ms-5 ps-3">
          <span class="h3 me-1">Dashboard</span>
        </div>

    </div>
</div>

  <div class="row mt-3">

    <div class="col-md-6 mb-5 mt-4">
      <div class="card shadow">
        <!-- <div class="card-header">
          Featured
        </div> -->
        <div class="card-body position-relative text-end">
          <span class="d-block p-4 bg-primary shadow icon-set">
            <fa-icon [icon]="fonts.faHospitalUser" class="pe-1 text-white" [size]="'4x'"></fa-icon>
          </span>
          <span>
            <span class="text-muted">Patients</span>
            <span class="d-block h2 text-muted">{{ dashboard.totalPatients | shortNumber }}</span>
          </span>
        </div>
        <div class="card-footer text-muted">
          <a
          appHasRole [roles]="[roles.admin, roles.reception, roles.doctor, roles.nurse, roles.hr]"
          [routerLink]="['/' + appRroutes.privateRoute.patients().$absolutePath]"
          >View patients</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-5 mt-4">
      <div class="card shadow">
        <!-- <div class="card-header">
          Featured
        </div> -->
        <div class="card-body position-relative text-end">
          <span class="d-block p-4 bg-info shadow icon-set">
            <fa-icon [icon]="fonts.faBuilding" class="pe-1 text-white" [size]="'4x'"></fa-icon>
          </span>
          <span>
            <span class="text-muted">Companies</span>
            <span class="d-block h2 text-muted">{{ dashboard.totalCompanies | shortNumber }}</span>
          </span>
        </div>
        <div class="card-footer text-muted">
          <a
          appHasRole [roles]="[roles.admin, roles.reception, roles.hr]"
          [routerLink]="['/' + appRroutes.privateRoute.companies().$absolutePath]"
          >View companies</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-5 mt-4">
      <div class="card shadow">
        <!-- <div class="card-header">
          Featured
        </div> -->
        <div class="card-body position-relative text-end">
          <span class="d-block p-4 bg-secondary shadow icon-set">
            <fa-icon [icon]="fonts.faCalendarCheck" class="pe-1 text-white" [size]="'4x'"></fa-icon>
          </span>
          <span>
            <span class="text-muted">Appointments Today</span>
            <span class="d-block h2 text-muted">{{ dashboard.appointmentsToday | shortNumber }}</span>
          </span>
        </div>
        <div class="card-footer text-muted">
          <a
          appHasRole [roles]="[roles.admin, roles.reception, roles.doctor]"
          [routerLink]="['/' + appRroutes.privateRoute.appointments().$absolutePath]"
          >View appointments</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-5 mt-4">
      <div class="card shadow">
        <!-- <div class="card-header">
          Featured
        </div> -->
        <div class="card-body position-relative text-end">
          <span class="d-block p-4 bg-warning shadow icon-set">
            <fa-icon [icon]="fonts.faTicket" class="pe-1 text-white" [size]="'4x'"></fa-icon>
          </span>
          <span>
            <span class="text-muted">Tickets Today</span>
            <span class="d-block h2 text-muted">{{ dashboard.ticketsToday | shortNumber }}</span>
          </span>
        </div>
        <div class="card-footer text-muted">
          <a
          appHasRole [roles]="[roles.admin, roles.pharmacy, roles.surgery, roles.lab, roles.radiology, roles.admission]"
          [routerLink]="['/' + appRroutes.privateRoute.tickets().$absolutePath]"
          >View tickets</a>
        </div>
      </div>
    </div>

  </div>

</section>
