

<form [formGroup]="form">
    <div class="row">

        <div class="col-sm-12">
            <fieldset [disabled]=disableForm>
                <div class="row">

                    <div class="form-group col-12 col-sm-12 position-relative">

                        <div class="w-100 position-relative">
                        <label class="form-control-label mb-2" for="oldPasswordField">
                            <strong>Current Password</strong>
                        </label>
                        <input placeholder="Current Password" maxlength="50" type="password" class="form-control" id="oldPasswordField" formControlName="oldPassword"  [ngClass]="{'is-invalid': errorService.getError(form, 'oldPassword')}">
                        <app-custom-error-message [errorMessage]="errorService.getError(form, 'oldPassword')"></app-custom-error-message>
                        </div>

                    </div>

                    <div class="form-group col-12 col-sm-6">
                        <label class="form-control-label mb-2" for="newPasswordField"><strong>New Password Name</strong></label>
                        <input placeholder="New password" maxlength="50" type="password" class="form-control" id="newPasswordField" formControlName="newPassword"  [ngClass]="{'is-invalid': errorService.getError(form, 'newPassword')}">
                        <app-custom-error-message [errorMessage]="errorService.getError(form, 'newPassword')"></app-custom-error-message>
                    </div>

                    <div class="form-group col-12 col-sm-6">
                        <label class="form-control-label mb-2" for="confirmNewPasswordField"><strong>Confirm New Password</strong></label>
                        <input placeholder="Confirm new password" maxlength="250" type="password" class="form-control" id="confirmNewPasswordField" formControlName="confirmNewPassword"  [ngClass]="{'is-invalid': errorService.getError(form, 'confirmNewPassword')}">
                        <app-custom-error-message [errorMessage]="errorService.getError(form, 'confirmNewPassword')"></app-custom-error-message>
                    </div>

                </div>
            </fieldset>

            <div class="row">
                <div class="col-12 d-flex justify-content-between w-100">

                    <div class="d-flex justify-content-between me-2 w-100" >
                        <button appHasRole [roles]="[roles.admin, roles.hr]" [operator]="'or'" (click)="resetPassword()" class="btn btn-danger mb-2">Reset</button>
                        <button *ngIf="disableForm" appHasRole [roles]="[user?.base?.id]" [operator]="'or'" (click)="edit()" class="btn btn-primary">Edit</button>
                    </div>

                    <div class="d-flex justify-content-between w-100" *ngIf="!disableForm">
                        <button (click)="changePassword()" [disabled]="form.invalid || isLoading" class="btn btn-success">
                            Update
                            <app-shared-loading *ngIf="isLoading"></app-shared-loading>
                        </button>

                        <button (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</form>
