
<div class="container-fluid">
    <div class="row position-relative" style="height: 100vh;">
        <app-bubbles></app-bubbles>
      <div class="col-6 bg-white d-md-none d-sm-none d-none d-lg-block c-image position-relative" #bolb>
        <!-- <div class="particle__canvas" >
          <div class="particles"></div>
        </div> -->
        
        <div class="h-100 d-flex align-items-center justify-content-center position-relative">
          <img class="img" src="/assets/images/logo.png" alt="">
        </div>
      </div>
  
      <div class="col-md-12 col-lg-6 *: d-flex align-items-center justify-content-center">
        <!-- <router-outlet></router-outlet> -->
      </div>
  
    </div>
  </div>
  
  