<div class="card-header">
  <div class="row">
    <div class="col-2">
      <strong>Quantity to give</strong>
    </div>
    <div class="col-10 row">
      <div class="col-4">
        <input [disabled]="ticket.cost != null" type="number" (blur)="blur()" [(ngModel)]="ticketInventory.prescribedQuantity" class="form-control">
      </div>
      <div class="col-2">
        <strong>Price per item</strong>
      </div>
      <div class="col-6">
        <input disabled type="number" [value]="ticketInventory.pricePerItem" class="form-control">
      </div>
    </div>
  </div>
</div>
