<div class="modal-content">
  <div class="modal-header c-bg-primary">
    <h5 *ngIf="ticket" class="modal-title">Update {{singleType ? type : ''}} ticket</h5>
    <h5 *ngIf="!ticket" class="modal-title">Create {{singleType ? type : ''}} ticket</h5>
    <button (click)="activeModal.close()" class="btn" type="button" data-bs-dismiss="modal" aria-label="Close">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body c-bg-secondary">

    <div *ngIf="isLoading" class="text-center">
      <app-shared-loading [size]="'xl'" ></app-shared-loading>
    </div>

    <form *ngIf="!isLoading" [formGroup]="form">

      <div class="row">
        <h6 class="border-bottom">
          <ng-container *ngIf="singleType">
            {{type}}
            <fa-icon (click)="saveTicketInventory(null, type)" [icon]="fonts.faPlusCircle" class="pe-1 pointer text-primary"></fa-icon>
          </ng-container>

          <ng-container *ngIf="!singleType">

            <select #selection (change)="selectionMade(null, $event.target); selection.value = 'null'">
              <option [value]="'null'">---</option>
              <option *ngFor="let item of allTypesExceptionAdmision" [value]="item">Add {{ item }}</option>
            </select>
          </ng-container>

        </h6>

        <div class="py-2 border-bottom scrollable" *ngIf="ticketInventories.length > 0">
          <div class="card mb-3" *ngFor="let inventory of ticketInventories; let i = index">
            <div class="card-header">
              <div class="row">
                <div class="col-2">
                  <strong>Item</strong>
                </div>
                <div class="col-10 position-relative">
                  {{ inventory.inventoryName}} ({{inventory.type}})
                  <span class="deleteIcon ms-3" (click)="removeTicketInventory(i)"><fa-icon [icon]="fonts.faTrashAlt" class="pe-1 pointer text-danger"></fa-icon></span>
                </div>
              </div>
            </div>
            <div class="card-header">
              <div class="row">
                <div class="col-2">
                  <strong>Prescription</strong>
                </div>
                <div class="col-10">
                  <div class="border-bottom pb-2" *ngIf="inventory.times">
                    <strong>Dosage: </strong> <span>{{inventory.dosage}}</span> |
                    <strong>Times: </strong> <span>{{inventory.times}}</span> |
                    <strong>Frequency: </strong> <span>{{inventory.frequency}}</span>
                    <span class="deleteIcon ms-3" (click)="saveTicketInventory(inventory, inventory.type)"><fa-icon [icon]="fonts.faPen" class="pe-1 pointer text-primary"></fa-icon></span>
                  </div>
                  <div>
                    {{ inventory.doctorsPrescription }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-3 border-top pt-3" *ngIf="ticketInventories.length > 0">
        <div class="form-group col-12">
          <label class="form-control-label mb-2" for="overallDescriptionField"><strong>Overal Description</strong></label>
          <textarea placeholder="Overal Description of the list of pharmacy prescribed" maxlength="1000" type="text" class="form-control" id="overallDescriptionField" formControlName="overallDescription"  [ngClass]="{'is-invalid': errorService.getError(form, 'overallDescription')}"></textarea>
          <div class="text-end">
            <small>{{form.get('overallDescription')?.value?.length ?? 0}}/1000</small>
          </div>
          <app-custom-error-message [errorMessage]="errorService.getError(form, 'overallDescription')"></app-custom-error-message>
        </div>
      </div>

    </form>

  </div>
  <div class="modal-footer c-bg-primary justify-content-between">
    <button [disabled]="form.invalid || ticketInventories.length <= 0 || isLoading" (click)="save()" type="button" class="btn btn-primary">
      Save
      <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
    </button>
    <div>
      <button (click)="activeModal.close()" type="button" class="ms-4 btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>

