<div class="d-flex justify-content-between mb-4">
  <div class="d-flex justify-content-start mb-4 position-relative">
      <span class="p-3 bg-primary shadow position-absolute">
          <fa-icon [icon]="fonts.faTicket" class="pe-1 text-light"></fa-icon>
      </span>
      <div class="ms-5 ps-3">
        <span class="h3 me-1">Tickets</span>
        <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
        <small class="d-block text-dark">{{paginationResponse.totalItems | shortNumber}}</small>
      </div>

  </div>
  <div>
      <div class="dropdown">
          <button class="btn btn-primary btn-sm text-white dropdown-toggle" type="button" id="more-action" data-bs-toggle="dropdown" aria-expanded="false">
              Action
          </button>
          <ul class="dropdown-menu" aria-labelledby="more-action">
            <li><a (click)="openFilterTicketModal()" class="dropdown-item pointer" >Filter</a></li>
            <li
            appHasRole [roles]="[roles.admin, roles.admission]"
            ><a (click)="openCreateTicket()" class="dropdown-item pointer" >Create Emergency Ticket</a></li>
          
          </ul>
        </div>
  </div>
</div>

<section class="p-2 my-2">

  <app-private-general-ticket-overview *ngFor="let ticket of tickets" [ticket]="ticket" ></app-private-general-ticket-overview>

</section>

<section>
  <ngb-pagination
    [(page)]="paginationResponse.pageNumber"
    [pageSize]="paginationResponse.pageSize"
    [collectionSize]="paginationResponse.totalItems"
    (pageChange)="pageChanged($event)"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    >
  </ngb-pagination>
</section>
