<div class="card mt-4 shadow">
  <div class="card-header position-relative">

    <div class="dropstart ticketOption" 
    appHasRole [roles]="[roles.admin, roles.nurse, roles.doctor, roles.pharmacy, roles.lab, roles.surgery, roles.radiology, roles.admission, roles.finance]">
      <button class="btn" type="button" id="ticketMoreOptions" data-bs-toggle="dropdown" aria-expanded="false">
        <fa-icon [icon]="fonts.faEllipsisV" class="text-dark"></fa-icon>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ticketMoreOptions">
        <li>
          <a class="dropdown-item pointer"
          [routerLink]="[route]"
          >View Ticket</a>
        </li>
        <div *ngIf="ticket?.appInventoryType == appTicketTypes.admission">
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item pointer"
            [routerLink]="[admissionRoute]"
            >View Admission</a>
          </li>
        </div>
      </ul>
    </div>

    <strong class="d-block">
      {{ ticket?.appInventoryType == appTicketTypes.admission ? 'Admission' : 'Appointment' }}
      <!-- <span *ngIf="ticket?.appInventoryType === 'admission'">
       ({{ getFirstAdmission() }})
      </span> -->
      -
      {{ ticket?.base?.dateCreated | date : 'MMM d, y, h:mm a' }}


    </strong>
  </div>

  <div class="card-body row">

    <div class="col-6">

      <app-private-patient-info
        [user]="ticket?.patient?.user"
        [company]="ticket?.appointment?.company"
      ></app-private-patient-info>

    </div>

    <div class="col-6">
      <strong>Doctor</strong>
      <small class="d-block border-top mt-1 pt-1">
        <a class="text-info" [routerLink]="['/' + routes.privateRoute.single_staff(ticket?.doctor?.user?.base?.id).$absolutePath]">
          {{ticket?.doctor?.user?.lastName}} {{ticket?.doctor?.user?.firstName}}
        </a>
      </small>
    </div>

    <div class="col-12">
      <p class="card-text border-bottom">{{ ticket?.overallDescription | trimSentence : 100 }}</p>
      <span *ngFor="let service of services">
        <span class="badge bg-primary me-2">
          {{ service.name }}: {{ service.value }}
        </span>
      </span>
    </div>

  </div>

  <div class="card-footer text-muted">
    <small>
      <span> <strong>Status:</strong> {{ ticket?.appTicketStatus }} </span>
      <strong class="px-2 text-primary">|</strong>
      <span> <strong>Sent to department:</strong> {{ ticket?.sent ? 'Yes' : 'No' }} </span>
        <strong class="px-2 text-primary">|</strong>
      <span> <strong>Sent to finance:</strong> {{ ticket?.sentToFinance ? 'Yes' : 'No' }}
        ({{ ticket?.cost === null ? 'pending' : ticket?.cost?.paymentStatus }})
      </span>
    </small>
  </div>
</div>
