<div class="card mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Original Cost</strong>
      </div>
      <div class="col-10">
        {{ ticket.cost.amount | currency: 'N'}}
      </div>
    </div>
  </div>
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Concluded Cost</strong>
      </div>
      <div class="col-10">
        {{ ticket.cost.approvedPrice | currency: 'N'}}
      </div>
    </div>
  </div>
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Payer</strong>
      </div>
      <div class="col-10">
        <span *ngIf="payer?.isPatient">
          <a [routerLink]="['/' + routes.privateRoute.single_patient(payer?.base?.id).$absolutePath]" >
            {{payer?.firstName}}
            {{payer?.lastName}}
            {{payer?.otherName}}
          </a>
        </span>
        <span *ngIf="payer?.isCompany">
          <a class="text-info" [routerLink]="['/' + routes.privateRoute.single_company(payer?.base?.id).$absolutePath]">
            {{payer?.firstName}}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div>
  <h4 class="border-bottom">Payments Made</h4>
  <div class="card">
    <div *ngFor="let payment of ticket.cost.payment; let i = index" class="card-header">
      <div class="row">
        <div class="col-2">
          <strong><small>{{ payment.datePaid | date:'short' }}</small></strong>
        </div>
        <div class="col-10">
          {{ payment.amount | currency: 'N'}} - {{ payment.paymentType }}
          <fa-icon (click)="downloadFile(payment.proof)" [icon]="fonts.faDownload" class="ms-2 pointer text-primary"></fa-icon>
        </div>
      </div>
    </div>
    <div *ngIf="ticket.cost.payment.length <= 0" class="card-header">
      <div class="col-2">
        <strong>No payments made</strong>
      </div>
    </div>
  </div>
</div>

<div class="card mt-2">
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Total Payments</strong>
      </div>
      <div class="col-10">
        {{ currentSum | currency: 'N'}}
      </div>
    </div>
  </div>
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Payment Status</strong>
      </div>
      <div class="col-10">
        {{ ticket.cost.paymentStatus }}
        <span *ngIf="currentOwing > 0" > - {{currentOwing | currency: 'N'}}
          <span *ngIf="payer?.isPatient" class="ms-2"> <button (click)="addPayment()" class="btn btn-sm btn-primary"><small>Add payment</small></button> </span>
          <span *ngIf="payer?.isCompany" class="ms-2"> An invoice will be sent to the company </span>
        </span>
      </div>
    </div>
  </div>
</div>


<div *ngIf="payments.length > 0" class="mt-3">
  <h4 class="border-bottom">Payments to make</h4>
  <div class="card">
    <div *ngFor="let payment of payments; let i = index" class="card-header">
      <div class="border-bottom">
        {{ payment.amount | currency: 'N'}} - {{ payment.typeDisplayName }}
      </div>
      <div class="input-group">
        <button (click)="downloadFile(payment.base64String, payment.name)" class="btn btn-outline-success btn-success text-white" type="button">
          <fa-icon [icon]="fonts.faDownload" class="bg-success rounded text-white"></fa-icon>
        </button>
        <input disabled [value]="payment.name" type="text" class="form-control" >
        <button (click)="removeFromList(i)" class="btn btn-outline-danger btn-danger text-white" type="button">
          <fa-icon [icon]="fonts.faTrash" class="bg-danger rounded text-white"></fa-icon>
        </button>
      </div>
    </div>
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <strong>Total Paying</strong>
        </div>
        <div class="col-10">
          {{ paying | currency: 'N'}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 text-end">
  <button *ngIf="payer?.isPatient && currentOwing > 0" [disabled]="payments.length <= 0" (click)="updatePayment()" class="btn btn-sm btn-primary">
    Update payment
    <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
  </button>
</div>

