
<div class="public-box">
  <div class="bg-white p-4">

    <!-- <div class="text-end">
      <a [routerLink]="['/' + appRoutes.publicRoute.signUpWithEmail().$absolutePath]" routerLinkActive="router-link-active"  class="register-text text-decoration-none text-dark" href="">Don't have an account?</a>
    </div> -->

    <div>
      <h2 class="title-text text-dark">Glad you are back!</h2>
    </div>

    <div>

      <form [formGroup]="form">
        <div class="form-floating mb-4 rounded-pill">
          <input type="email" class="form-control rounded-pill" id="floatingInput" placeholder="name@example.com" formControlName="email"  [ngClass]="{'is-invalid': errorService.getError(form, 'email')}">
          <label for="floatingInput">Email address</label>
          <app-custom-error-message [errorMessage]="errorService.getError(form, 'email')"></app-custom-error-message>
        </div>

        <div class="form-floating mb-4 rounded-pill">
          <input [type]="viewPassword ? 'text' : 'password' " class="form-control rounded-pill" id="floatingPassword" placeholder="Password" formControlName="password"  [ngClass]="{'is-invalid': errorService.getError(form, 'password')}">
          <fa-icon *ngIf="!viewPassword" [icon]="fonts.faEye" (click)="viewPassword = true"  class="text-dark view-password pointer"></fa-icon>
          <fa-icon *ngIf="viewPassword" [icon]="fonts.faEyeSlash" (click)="viewPassword = false"  class="text-dark view-password pointer"></fa-icon>
          <label for="floatingPassword">Password</label>
          <app-custom-error-message [errorMessage]="errorService.getError(form, 'password')"></app-custom-error-message>
        </div>



        <!-- <div class="text-end mb-3">
          <a [routerLink]="['/' + appRoutes.publicRoute.forgotPassword().$absolutePath]"  class="register-text text-decoration-none text-dark" href="">Forgot your password?</a>
        </div> -->

        <div class="d-grid my-3">
          <button type="submit" [disabled]="form.invalid || isLoading" (click)="trySignin()" class="btn btn-primary rounded-pill"><span class="text-white login-text">
            {{loginButton}}
            <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
          </span>
        </button>
        </div>
      </form>


      <!-- <div class="mt-4 mb-3">
        <div class="border-top border-1" style="border-color: #000 !important;"></div>
        <div class="d-flex justify-content-center" style="margin-top: -14px;">
          <div class="bg-white text-center" style="width: 50px;">
            <span class="or-text">or</span>
          </div>
        </div>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-danger rounded-pill">
          <span class="text-white google-login-text">
            <img src="/assets/images/Google logo Vector.svg" class="me-1" alt=""/>
            Continue with Google
          </span>
        </button>
      </div> -->

    </div>

  </div>

  <!-- <div class="d-flex justify-content-between mt-3">
    <p class="p-2 or-text text-white bg-dark"><img src="/assets/images/Google Play.svg" alt=""/></p>
    <p class="p-2 or-text text-white bg-dark"><img src="/assets/images/Apple Store.svg" alt=""/></p>
  </div> -->
</div>
