

.register-text {
    font-family: poppins-regular;
    font-size: 12px;
}

.title-text {
  font-family: poppins-semibold;
  font-size: 20px;
}

.or-text {
  font-family: poppins-regular;
  font-size: 12px;
}

.login-text {
  font-family: poppins-regular;
  font-size: 14px;
}

.google-login-text {
  font-family: poppins-regular;
  font-size: 10px;
}

