
<div  class="public-box">
    <div class="bg-white p-4">
  
        <div class="d-flex justify-content-between align-items-center mb-2">
            <a class="text-decoration-none text-dark" [routerLink]="['/' + appRoutes.publicRoute.home().$absolutePath]">
                <fa-icon size="2x" [icon]="fonts.faChevronLeft"></fa-icon>
            </a>
        </div>

        
        <div>
            <h2 class="title-text text-dark">Confirm your email</h2>
        </div>

        <div class="mb-3">
            <span class="register-text text-decoration-none text-dark">Forgotten your password? Enter you email address below and we will send steps for setting a new one.</span>
        </div>
  
        <div>
    
            <form>
                <div class="form-floating mb-3 rounded-pill">
                    <input type="email" class="form-control rounded-pill" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
            
                <div class="d-grid">
                    <button [routerLink]="['/' + appRoutes.publicRoute.emailStatus().$absolutePath]" type="submit" class="btn btn-primary rounded-pill my-2"><span class="text-white login-text">Continue</span></button>
                </div>
            </form>
    
        
        </div>
  
    </div>
  </div>
  