

<div class="card mt-4 shadow">
  <div class="card-header position-relative">
    <div appHasRole [roles]="[roles.admin, appointment?.doctor?.user?.base?.id]" class="dropstart ticketOption">
      <button class="btn" type="button" id="ticketMoreOptions" data-bs-toggle="dropdown" aria-expanded="false">
        <fa-icon *ngIf="!isLoading" [icon]="fonts.faEllipsisV" class="text-dark"></fa-icon>
        <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ticketMoreOptions">
        <li>
          <a class="dropdown-item pointer"
          [routerLink]="['/' + routes.privateRoute.single_ticket(ticket?.base?.id).$absolutePath]"
          >View</a></li>
          <div *ngIf="!ticket?.sent && appointment && isTodayAppointment">
            <li><hr class="dropdown-divider"></li>
            <li><span class="dropdown-item pointer"(click)="sendToDepartment()">Send to department</span></li>
            <li><span class="dropdown-item pointer" (click)="editTicket()" >Edit</span></li>
            <li><hr class="dropdown-divider"></li>
            <li><span class="dropdown-item pointer text-danger" (click)="deleteTicket()" >Delete</span></li>
          </div>
          <!-- <div appHasRole [roles]="[roles.admin, roles.doctor]" [operator]="'or'" *ngIf="!appointment">
            <li><hr class="dropdown-divider"></li>
            <li><span class="dropdown-item pointer"(click)="sendToDepartment()">Copy ticket</span></li>
          </div> -->
      </ul>
    </div>

    <strong class="d-block pointer">
      {{ ticket?.base?.dateCreated | date : 'MMM d, y, h:mm a' }}
      | {{ ticket?.appInventoryType == appTicketTypes.admission ? 'Admission' : 'Appointment' }}
    </strong>
  </div>

  <div class="card-body">
    <p class="card-text border-bottom">{{ ticket?.overallDescription | trimSentence : 100 }}</p>
    <span *ngFor="let service of services">
      <span class="badge bg-primary me-2">
        {{ service.name }}: {{ service.value }}
      </span>
    </span>
  </div>

  <div class="card-footer text-muted">
    <small>
      <span> <strong>Status:</strong> {{ ticket?.appTicketStatus }} </span>
      <strong class="px-2 text-primary">|</strong>
      <span> <strong>Sent to department:</strong> {{ ticket?.sent ? 'Yes' : 'No' }} </span>
        <strong class="px-2 text-primary">|</strong>
      <span> <strong>Sent to finance:</strong> {{ ticket?.sentToFinance ? 'Yes' : 'No' }}
        ({{ ticket?.cost === null ? 'pending' : ticket?.cost?.paymentStatus }})
      </span>
    </small>
  </div>
</div>

