<div class="card-header">
  <div class="row">
    <div class="col-2">
      <strong>Admission Start Date</strong>
    </div>
    <div class="col-10 row">
      <div class="col-4">
        <div class="input-group mb-3">
          <input readonly ngbDatepicker #d="ngbDatepicker" type="date" class="form-control" placeholder="YYYY-MM-DD" [(ngModel)]="ticketInventory.admissionStartDate">
          <button *ngIf="!ticket?.sentToFinance" (click)="d.toggle()" class="btn-primary bg-primary">
            <fa-icon [icon]="fonts.faCalendar" class="text-white"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-2">
        <strong>Time (hours)</strong>
      </div>
      <div class="col-6">
        <select [disabled]="ticket.sentToFinance" #time class="form-control" (change)="addHoursStart()" [(ngModel)]="selectedHourStart">
          <option [value]="null" >---</option>
          <option *ngFor="let hour of hours" [value]="hour" >{{hour}}</option>
        </select>
      </div>
    </div>

  </div>
</div>

<div *ngIf="ticket.cost">

  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Admission End Date</strong>
      </div>
      <div class="col-10 row">
        <div class="col-6">
          <div class="input-group mb-3">
            <input readonly ngbDatepicker #d="ngbDatepicker" type="date" class="form-control" placeholder="YYYY-MM-DD" [(ngModel)]="ticketInventory.admissionEndDate">
            <button  *ngIf="!ticketInventory?.concludedDate" (click)="d.toggle()" class="btn-primary bg-primary">
              <fa-icon [icon]="fonts.faCalendar" class="text-white"></fa-icon>
            </button>
          </div>
        </div>
        <div class="col-6">
          <select [disabled]="ticketInventory.concludedDate" #time class="form-control" (change)="addHoursEnd()" [(ngModel)]="selectedHourEnd">
            <option [value]="null" >---</option>
            <option *ngFor="let hour of hours" [value]="hour" >{{hour}}</option>
          </select>
        </div>
      </div>

    </div>
  </div>

  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Duration</strong>
      </div>
      <div class="col-10 row">
        {{ duration }} day(s)
      </div>

    </div>
  </div>

</div>

