
<div class="d-inline-block mt-0 w-100" ngbDropdown #myDrop="ngbDropdown">

    <div *ngIf="!isLoading" ngbDropdownMenu aria-labelledby="dropdownManual" style="margin-top: -18px; width: 100%;">
      <span (click)="selectedStaff(staff)" ngbDropdownItem class="w-100" *ngFor="let staff of userList">
        <strong>
          {{ staff.firstName }}
        </strong>
        <strong *ngIf="!staff?.company">
          {{ staff.lastName }}
        </strong>
        <strong *ngIf="!staff?.company">
          {{ staff.otherName }}
        </strong>
      </span>
    </div>

    <div *ngIf="isLoading" ngbDropdownMenu aria-labelledby="dropdownManual" style="margin-top: -18px; width: 100%;">
      <span ngbDropdownItem class="w-100">
        <strong><app-shared-loading></app-shared-loading></strong>
      </span>
    </div>

  </div>

