

.title-text {
    font-family: poppins-semibold;
    font-size: 50px;
}

.explore {
    position: absolute;
    bottom: 100px;
    right: 70px;
    font-family: poppins-regular;
    font-size: 13px;
}