<div class="card mb-3" [ngClass]="{'bg-info': ticketInventory.appTicketStatus === 'canceled'}" >
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Item</strong>
      </div>
      <div class="col-10 row">
        <div class="col-6">{{ ticketInventory.inventory.name }}</div>
        <div class="col-6">
          <select [disabled]="ticket.cost != null" class="form-control" [(ngModel)]="ticketInventory.appTicketStatus">
            <option [value]="'ongoing'" >Ongoing</option>
            <option [value]="'canceled'" >Canceled</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Doctor's Prescription</strong>
      </div>
      <div class="col-10">
        {{ ticketInventory.doctorsPrescription }}
      </div>
    </div>
  </div>
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Available Quantity</strong>
      </div>
      <div class="col-10">
        {{ ticketInventory.inventory.quantity }}
        <span *ngIf="(ticketInventory?.inventory?.quantity ?? 0) <= (ticketInventory?.inventory?.howLow ?? 0)" class="text-danger">
          Low on stock
        </span>
      </div>
    </div>
  </div>
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Quantity to give</strong>
      </div>
      <div class="col-10 row">
        <div class="col-4">
          <input [disabled]="ticket.cost != null" type="number" (blur)="calculateItem()" [(ngModel)]="ticketInventory.prescribedQuantity" class="form-control">
        </div>
        <div class="col-2">
          <strong>Price per item</strong>
        </div>
        <div class="col-4">
          <input disabled type="number" [value]="ticketInventory.pricePerItem" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <strong>Pharmacist's note</strong>
      </div>
      <div class="col-10">
        <textarea [disabled]="this.ticket.sentToFinance" [(ngModel)]="ticketInventory.departmentDescription" type="text" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div *ngIf="this.ticket.sentToFinance">
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <strong>Price (N)</strong>
        </div>
        <div class="col-10 row">
          <div class="col-4">
            <input [value]="this.ticketInventory.currentPrice" step=".01" disabled class="form-control">
          </div>
          <div class="col-2">
            <strong>Concluded Price (N)</strong>
          </div>
          <div class="col-4">
            <input type="number" [disabled]="inventoryItems.length <= 0" [(ngModel)]="this.ticketInventory.totalPrice" step=".01" class="form-control">
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
