<section *ngIf="isLoading" class="vh-100 w-100 d-flex justify-content-center align-items-center">
  <app-shared-loading size="xl"></app-shared-loading>
</section>

<section *ngIf="!isLoading && dashboard.patient">

  <section>
    <span class="h4 d-block border-bottom mb-4">
      <a [routerLink]="['/' + routes.privateRoute.single_admission(ticketId).$absolutePath]">
        <fa-icon [icon]="backIcon" class="pe-2"></fa-icon>
      </a>

      Admission: {{ admissionRoom }} | {{ sectionName }}
    </span>
  </section>

  <div class="mb-2 d-flex border-bottom mb-4 py-4">
    <span class="d-block p-4 shadow icon-set me-5" [ngClass]="fonts[sectionName].css">
      <fa-icon [icon]="fonts[sectionName].name" class="pe-1 text-white" [size]="'2x'"></fa-icon>
    </span>
    <div *ngIf="dashboard.patient">
      <app-private-patient-info
      [user]="dashboard.patient.user"
      [company]="dashboard.patient.company"
      ></app-private-patient-info>
    </div>
  </div>

  <app-private-admission-precriptions
    *ngIf="ticketId"
    [sectionName]="sectionName"
    [ticket]="dashboard.appTicket"
    >
  </app-private-admission-precriptions>


</section>

