

<div class="modal-content">
  <div class="modal-header c-bg-primary">
    <div>
      <h5 class="modal-title">Update Appointment</h5>
    </div>
    <button (click)="activeModal.close()" class="btn" type="button" data-bs-dismiss="modal" aria-label="Close">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body c-bg-secondary">

    <form [formGroup]="form">

      <div class="row">

        <div class="form-group col-12 position-relative">

          <div class="w-100 position-relative">
            <label class="form-control-label mb-2" for="firstNameField">
              <strong>Doctor's Name</strong>
            </label>
            <input (keydown)="clearDoctor()" placeholder="Name" maxlength="250" type="text" class="form-control" id="firstNameField" formControlName="doctorName"  [ngClass]="{'is-invalid': errorService.getError(form, 'doctorName')}">
            <app-shared-user-autocomplete [userType]="'staff'" (selected)="updateFormFromAutoComplete($event)" class="position-absolute w-100" [searchWord]="form.get('doctorName')?.value"></app-shared-user-autocomplete>
            <app-custom-error-message [errorMessage]="errorService.getError(form, 'doctorName')"></app-custom-error-message>
          </div>

        </div>

        <div class="form-group col-md-12" *ngIf="appointmentDate">
          <label class="form-control-label mb-2"><strong>Appointment Date</strong></label>
          <div class="input-group mb-3">
            <input ngbDatepicker #d="ngbDatepicker" type="text" placeholder="YYYY-MM-DD" class="form-control" formControlName="appointmentDate"  [ngClass]="{'is-invalid': errorService.getError(form, 'appointmentDate')}">
            <button (click)="d.toggle()" class="btn-primary bg-primary">
              <fa-icon [icon]="fonts.faCalendar" class="text-white"></fa-icon>
            </button>
          </div>
          <app-custom-error-message [errorMessage]="errorService.getError(form, 'appointmentDate')"></app-custom-error-message>
        </div>

      </div>

    </form>

  </div>
  <div class="modal-footer c-bg-primary justify-content-between">
    <button [disabled]="form.invalid || isLoading" (click)="updateAppointment()" type="button" class="btn btn-primary">
      Update
      <app-shared-loading *ngIf="isLoading"></app-shared-loading>
    </button>
    <div>
      <button (click)="activeModal.close()" type="button" class="ms-4 btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
