
<div class="container-fluid">
  <div class="row" style="height: 100vh;">

    <div class="col-6 bg-white d-md-none d-sm-none d-none d-lg-block c-image position-relative" #bolb>
      <!-- <div class="particle__canvas" >
        <div class="particles"></div>
      </div> -->
      <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
     </div>
      <div class="h-100 d-flex align-items-center justify-content-center position-relative">
        <img class="img" src="/assets/images/logo.png" alt="">
      </div>
    </div>

    <div class="col-md-12 col-lg-6 bg-primary d-flex align-items-center justify-content-center">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

