
<div class="d-inline-block mt-0 w-100" ngbDropdown #myDrop="ngbDropdown">

  <div *ngIf="!isLoading" ngbDropdownMenu aria-labelledby="dropdownManual" style="margin-top: -18px; width: 100%;">
    <span (click)="inventorySeletected(inventory)" ngbDropdownItem class="w-100" *ngFor="let inventory of pagination.elements">
      <strong class="d-block">
        {{ inventory.inventory?.name }}
      </strong>
      <small>
        {{ inventory.inventory?.appInventoryType }}
      </small>
    </span>
  </div>

  <div *ngIf="isLoading" ngbDropdownMenu aria-labelledby="dropdownManual" style="margin-top: -18px; width: 100%;">
    <span ngbDropdownItem class="w-100">
      <strong><app-shared-loading></app-shared-loading></strong>
    </span>
  </div>

</div>

