

<div class="modal-content">
  <div class="modal-header c-bg-primary">
    <h5 class="modal-title">Filter Contracts</h5>
    <button (click)="activeModal.close()" class="btn" type="button" data-bs-dismiss="modal" aria-label="Close">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body c-bg-secondary">

    <form [formGroup]="form">

      <div class="row">


        <div class="form-group col-12">
          <label class="form-control-label mb-2" for="paymentStatusField"><strong>Payment Status</strong></label>
          <select class="form-control" id="paymentStatusField" formControlName="paymentStatus"  [ngClass]="{'is-invalid': errorService.getError(form, 'paymentStatus')}">
            <option [value]="null">--</option>
            <option *ngFor="let lookup of lookups" [value]="lookup.name">{{lookup.display}}</option>
          </select>
          <app-custom-error-message [errorMessage]="errorService.getError(form, 'paymentStatus')"></app-custom-error-message>

        </div>

        <div class="form-group col-12">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="patientContract" formControlName="patient">
            <label class="form-check-label" for="patientContract">
              Patient
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="companyContract" formControlName="company">
            <label class="form-check-label" for="companyContract">
              Company
            </label>
          </div>

        </div>

      </div>


    </form>

  </div>
  <div class="modal-footer c-bg-primary justify-content-between">
    <button (click)="addFilter()" [disabled]="form.invalid" type="button" class="btn btn-primary">Update filter</button>
    <div>
      <button (click)="clearForm()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Reset</button>
      <button (click)="activeModal.close()" type="button" class="ms-4 btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
