<div class="d-flex justify-content-between mb-4">

  <div class="d-flex justify-content-start align-items-center mb-4">
    <fa-icon [icon]="fonts.faKitMedical" [size]="'2x'" class="pe-1 text-primary"></fa-icon>
    <div>
      <span class="h6 me-1">{{paginationResponse.totalItems}}</span>
      <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
    </div>
  </div>

  <div>
      <div class="dropdown">
          <button class="btn btn-primary btn-sm text-white dropdown-toggle" type="button" id="more-action" data-bs-toggle="dropdown" aria-expanded="false">
              Action
          </button>
          <ul class="dropdown-menu" aria-labelledby="more-action">
            <li appHasRole [roles]="[roles.admin, inventory?.appInventoryType]" ><a class="dropdown-item pointer" (click)="saveInventoryItems()" >Save Inventory item</a></li>
            <li><a class="dropdown-item pointer" (click)="openFilterInventoryItems()">Filter</a></li>
          </ul>
        </div>
  </div>
</div>


<section class="bg-light rounded shadow">
  <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th scope="col">&nbsp;</th> -->
          <th scope="col">Company Name</th>
          <th scope="col">Price per item</th>
          <!-- <th scope="col">&nbsp;</th> -->
          <!-- <th scope="col">Handle</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventoryItem of inventoryItems">
          <!-- <th scope="row"> </th>-->
          <td>
            <a class="ps-2" [routerLink]="['/' + routes.privateRoute.single_company(inventoryItem?.company?.userId).$absolutePath]" >
              {{inventoryItem?.company?.name}}
            </a>
          </td>
          <td>
            <fa-icon [icon]="fonts.faNairaSign"></fa-icon>
            {{inventoryItem.pricePerItem | currency: ' '}}
          </td>
        </tr>
      </tbody>
    </table>
</section>

<section>
<ngb-pagination
  [(page)]="paginationResponse.pageNumber"
  [pageSize]="paginationResponse.pageSize"
  [collectionSize]="paginationResponse.totalItems"
  (pageChange)="pageChanged($event)"
  >
</ngb-pagination>
</section>

