

        <div class="modal-content">
            <div class="modal-header c-bg-primary">
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <div class="me-3">
                    <h5 *ngIf="!patientVital" class="modal-title">Add Patient Vital</h5>
                    <h5 *ngIf="patientVital" class="modal-title">View Patient's Vital</h5>
                  </div>

                  
                  <div class="d-flex d-flex align-items-center" >
                    <label class="form-control-label me-2" style="text-wrap: nowrap;" for="staffResponsibleField"><strong>Staff Responsible: </strong></label>
                    <input *ngIf="!patientVital?.base?.staffName" placeholder="Staff responsible" required maxlength="500" [(ngModel)]="staffName" type="text" class="form-control" id="staffResponsibleField" >
                    <input *ngIf="patientVital?.base?.staffName" placeholder="Staff responsible" required [disabled]="true" maxlength="500" [(ngModel)]="staffName" type="text" class="form-control" id="staffResponsibleField" >
                  </div>

                </div>

              <button (click)="activeModal.close()" class="btn" type="button" data-bs-dismiss="modal" aria-label="Close">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="modal-body c-bg-secondary">
  
                <!-- <div *ngIf="!patientVital">
                    <angular-editor maxlength="5000" [placeholder]="'Enter vitals here...'" [(ngModel)]="vital" [config]="editorConfig"></angular-editor>
                    <small class="d-block text-end">
                        {{vital?.length ?? 0}}/5000
                    </small>
                </div>

                <div *ngIf="patientVital" >
                  <div class="mb-2">
                    <strong>Staff: </strong><span>{{patientVital?.nurse?.user?.lastName}} {{patientVital?.nurse?.user?.firstName}}</span>
                    - {{patientVital?.base?.dateCreated | date:"dd/MMM/yyyy HH:mm"}}
                  </div>
                  <div class="border border-3 rounded" style="height: 25rem; overflow-y: scroll;">
                    <p [innerHTML]="patientVital.data" ></p>
                  </div>
                </div> -->

                  <div class="row border-bottom mb-2" *ngFor="let item of vitalStructure; let i = index">
                    <div class="col-md-4 position-relative">
  
                      <div class="w-100 position-relative">
                        <input [disabled]="patientVital != undefined" type="text" class="form-control" placeholder="Amount" [(ngModel)]="item.name">
                      </div>
  
                    </div>
                    <div class="mb-2 pb-2 col-md-8 position-relative" >
  
                      <div class="input-group">
                        <input [disabled]="patientVital != undefined" type="text" class="form-control" placeholder="Readings" [(ngModel)]="item.value">
                        <button *ngIf="!patientVital" class="btn btn-danger" (click)="removeItemInData(i)" type="button">
                          <fa-icon [icon]="fonts.faTrash"></fa-icon>
                        </button>
                      </div>
  
                    </div>
  
                  </div>

                  <div class="d-flex justify-content-between w-100 align-items-center">
                    <button *ngIf="!patientVital" class="btn btn-primary" (click)="addNewVitalData()" type="button">
                      Add new vitals
                    </button>    
                    
                    <div *ngIf="patientVital" class="d-flex align-items-center justify-content-start">
                      <strong class="me-2">Date: </strong>
                      <span>{{ patientVital?.base?.dateCreated | date: 'medium' }}</span>
                    </div>
                    
                    <!-- <app-staff-responsible [staffUserId]="patientVital?.base?.staffResponsible" (staffSelected)="staffResponsible = $event"></app-staff-responsible> -->
                  </div>

            </div>
            <div class="modal-footer c-bg-primary justify-content-between">
              <button *ngIf="!patientVital" [disabled]="isLoading" (click)="addVital()" type="button" class="btn btn-primary">
                Add Vital
                <app-shared-loading *ngIf="isLoading"></app-shared-loading>
              </button>
              <div>
                <button (click)="activeModal.close()" type="button" class="ms-4 btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
