
<div *ngIf="ticket.sentToFinance && !ticket.cost" class="card mb-3">
  <div class="card-header">
    <app-shared-loading *ngIf="isLoading"></app-shared-loading>
    <div *ngIf="!isLoading" class="row">
      <div class="col-2">
        <strong>Select Payer</strong>
      </div>
      <div class="col-10">
        <select class="form-control" (change)="calculateNewTotal($event)" [(ngModel)]="selectedCompany">
          <option [value]="null" selected >---</option>
          <option *ngFor="let company of companies" [value]="company.base?.id" >{{company.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>


<ng-container *ngIf="ticket.appInventoryType === types.pharmacy">
  <app-private-pharmacy-inventory-item
  *ngFor="let ticketInventory of ticket?.ticketInventories"
  [ticket]="ticket"
  [ticketInventory]="ticketInventory"
  [inventoryItems]="inventoryItems"
  ></app-private-pharmacy-inventory-item>
</ng-container>

<ng-container *ngIf="ticket.appInventoryType === types.lab || ticket.appInventoryType === types.radiology">
  <app-private-lab-inventory-item
  *ngFor="let ticketInventory of ticket?.ticketInventories"
  [ticket]="ticket"
  [ticketInventory]="ticketInventory"
  [inventoryItems]="inventoryItems"
  ></app-private-lab-inventory-item>
</ng-container>

<ng-container *ngIf="ticket.appInventoryType === types.surgery">
  <app-private-surgery-inventory-item
  *ngFor="let ticketInventory of ticket?.ticketInventories"
  [ticket]="ticket"
  [ticketInventory]="ticketInventory"
  [inventoryItems]="inventoryItems"
  ></app-private-surgery-inventory-item>
</ng-container>

<ng-container *ngIf="ticket.appInventoryType === types.admission">
  <app-private-admission-inventory-item
  *ngFor="let ticketInventory of ticket?.ticketInventories"
  [ticket]="ticket"
  [ticketInventory]="ticketInventory"
  [inventoryItems]="inventoryItems"
  ></app-private-admission-inventory-item>
</ng-container>

<div class="mt-4 text-end">
  <button appHasRole [roles]="[roles.admin, roles.pharmacy]" [operator]="'or'" *ngIf="!ticket.sentToFinance" [disabled]="isLoading" (click)="sendToFinance()" class="btn btn-sm btn-primary">
    Send to finance
    <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
  </button>

  <button appHasRole [roles]="[roles.admin, roles.finance]" [operator]="'or'" *ngIf="ticket.sentToFinance && !ticket.cost" [disabled]="isLoading" (click)="makeInitialPayment()" class="btn btn-sm btn-primary">
    Upload payment
    <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
  </button>

  <button appHasRole [roles]="[roles.admin, roles.pharmacy]" [operator]="'or'"  *ngIf="ticket.cost && ticket.appTicketStatus === 'ongoing'" [disabled]="isLoading" (click)="concludeTicket()" class="btn btn-sm btn-primary">
    Conclude
    <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
  </button>
</div>

<!--
  Company paying -> once decided and paid no going back
  upload payment ->
  update payment status
 -->

