<div *ngIf="ticketInventory" class="card mb-3" [ngClass]="{'bg-info': ticketInventory.appTicketStatus === 'canceled'}" >

  <app-private-ticket-inventory-item-status
  [ticket]="ticket"
  [ticketInventory]="ticketInventory"
  [isAdmission]="isAdmission"
  (reload)="resetTicketInventory(ticketInventory)"
  ></app-private-ticket-inventory-item-status>

  <app-private-ticket-inventory-item-additional-note
  [ticketInventory]="ticketInventory"
  >
  </app-private-ticket-inventory-item-additional-note>

  <app-private-ticket-inventory-item-doctor-prescription
  *ngIf="!isAdmission"
  [ticket]="ticket"
  [ticketInventory]="ticketInventory">
  </app-private-ticket-inventory-item-doctor-prescription>

  <app-private-ticket-inventory-item-department-note
    [ticket]="ticket"
    [ticketInventory]="ticketInventory">
  </app-private-ticket-inventory-item-department-note>

  <app-private-ticket-inventory-item-available-quantity
    [ticketInventory]="ticketInventory">
  </app-private-ticket-inventory-item-available-quantity>

  <app-private-ticket-inventory-item-quantity-to-give
  [ticket]="ticket"
  [ticketInventory]="ticketInventory"
  (onBlur)="calculateItem()"
  [isAdmission]="isAdmission"
  [inventoryItems]="inventoryItems">
  </app-private-ticket-inventory-item-quantity-to-give>

  <app-private-ticket-inventory-item-price
    *ngIf="ticket.sentToFinance"
    [ticketInventory]="ticketInventory"
    [inventoryItems]="inventoryItems">
  </app-private-ticket-inventory-item-price>

  <app-private-ticket-inventory-item-admission-dates
    [ticket]="ticket"
    [ticketInventory]="ticketInventory"
    [inventoryItems]="inventoryItems">
  </app-private-ticket-inventory-item-admission-dates>

  <app-private-update-ticket-inventory
    [ticketInventory]="ticketInventory"
    [ticket]="ticket"
    (reset)="resetTicketInventory($event)"
  >
  </app-private-update-ticket-inventory>

  <div *ngIf="this.ticket.sentToFinance && ticket.cost && ticketInventory.appTicketStatus !== 'canceled'">

  </div>

</div>
