
<section>
  <div class="text-end pointer">
    <strong *ngIf="isCreatingPrescription"> <app-shared-loading></app-shared-loading> </strong>
    <fa-icon  *ngIf="!isCreatingPrescription" (click)="openAddNewDoctorsPrescription()" [icon]="fonts.faPlusCircle"></fa-icon>
  </div>

  <section class="prescription-box position-relative border p-2">
    <ng-container *ngIf="selected">
      <button *ngIf="index > 0" class="left-btn"><fa-icon size="2x" (click)="nextPreviousPrescription(-1)" [icon]="fonts.faChevronCircleLeft"></fa-icon></button>
      <button *ngIf="index < paginationResponse.totalItems - 1" (click)="nextPreviousPrescription(1)" class="right-btn"><fa-icon size="2x" [icon]="fonts.faChevronCircleRight"></fa-icon></button>

      <app-prescription-item *ngIf="selected" (reload)="getPrescriptions(true)" (reloadLogged)="reloadLoggedPrescriptions()" [admissionPrescription]="selected" ></app-prescription-item>
    </ng-container>

    <ng-container *ngIf="paginationResponse.totalItems <= 0" >
      <p>No Prescription yet</p>
      <button (click)="openAddNewDoctorsPrescription()" class="btn btn-primary btn-sm">Create Prescription</button>
    </ng-container>

  </section>

  <section>
    <app-logged-prescriptions *ngIf="selected" [prescription]="selected" [update]="loggedPrescriptionUpdate"></app-logged-prescriptions>
  </section>

</section>
