
<div class="d-flex justify-content-between mb-4">
    <div class="d-flex justify-content-start align-items-center mb-4">
        <fa-icon [icon]="fonts.faHeartPulse" [size]="'2x'" class="pe-1 text-primary"></fa-icon>
        <div>
          <span class="h6 me-1">{{paginationResponse.totalItems}}</span>
          <app-shared-loading *ngIf="isLoading" ></app-shared-loading>
        </div>

    </div>
    <div>
        <button *ngIf="isTodayAppointment" appHasRole [roles]="[roles.admin, roles.nurse]" [operator]="'or'" (click)="openAddVitalModal()" class="btn btn-sm btn-primary">Add Vital</button>
    </div>
</div>

<section class="bg-light rounded shadow">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Staff</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vital of vitals" >
            <td><a class="text-primary text-underline pointer" (click)="viewVital(vital)" >{{vital?.base?.dateCreated | date:"medium"}}</a></td>
            <td>{{vital?.nurse?.user?.lastName}} {{vital?.nurse?.user?.firstName}}</td>
          </tr>
        </tbody>
      </table>
</section>

<section>
  <ngb-pagination
    [(page)]="paginationResponse.pageNumber"
    [pageSize]="paginationResponse.pageSize"
    [collectionSize]="paginationResponse.totalItems"
    (pageChange)="pageChanged($event)"
    >
  </ngb-pagination>
</section>
